<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Student</title>
</head>
<body>
  
{% extends 'base.html' %}
{% block title %}
Student
{% endblock title %}
{% block home %}
menu-active
{% endblock home %}

{% block body %}
  
  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="footer-top">
     
    </div>

    <div class="container">
   
      <div class="credits">
      <br>
        Developed by <a href="/">Sanjay</a>
      </div>
    </div>
  </footer><!-- End  Footer -->
{% endblock body %}
</body>
</html>